header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
}

.header__socials svg {
    display: block;
    width: 30px;
    height: 30px;
    margin: 10px 0;
}

.me {
    background: linear-gradient(var(--primary), transparent);
    width: 50%;
    height: 80vh;
    position: absolute;
    margin-top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
}

.scrollDown {
    position: relative;
    float: right;
}

.scrollDown__wheel {
    height: 42px;
    width: 24px;
    border-radius: 10px;
    border: 2px solid var(--primary);
}

.scrollDown__wheel--inner {
    position: absolute;
    left: 10px;
    margin-top: 5px;
    width: 4px;
    height: 4px;
    background: var(--primary);
    border-radius: 50%;
    ;
    animation: movingwheel 0.5s linear infinite;
}


.scrollDown__arrows {
    position: absolute;
    left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scrollDown__arrow {
    width: 15px;
    height: 15px;
    border-right: 2px solid var(--primary);
    ;
    border-bottom: 2px solid var(--primary);
    ;
    transform: rotate(45deg);
    animation: movingArrows 1s infinite;
    animation-direction: alternate;
}

.scrollDown:nth-child(1) {
    animation-delay: 0.1s;
}

.scrollDown:nth-child(2) {
    animation-delay: 0.2s;
}

.scrollDown:nth-child(3) {
    animation-delay: 0.3s;
}

@keyframes movingwheel {
    0% {
        top: 1px
    }

    25% {
        top: 2px
    }

    50% {
        top: 3px
    }

    75% {
        top: 2px
    }

    100% {
        top: 1px
    }
}

@keyframes movingArrows {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

/* ===================== MEDIA QUERIES ======================= */
@media screen and (max-width: 1024px) {
    header {
        height: 80vh
    }
}

@media screen and (max-width: 600px) {

    .header__socials,
    .scroll__down {
        display: none;
    }
}